/* GLOBAL STUFF */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #123;
	--font-color: #fff;
	--secondary-font-color: #bbb;
	--outline-color: #789;
	--btn-color: #3973ac;
	--input-bg-color: #111111;
	--input-bg-focus-color: #161616;
	--hint-bg-color: #223e5b;
	--card-color: #318321;
	--positive-color: #76e041;
	--negative-color: #e93939;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
	padding-bottom: 2rem;
}

.container {
	max-width: 600px;
	margin-inline: auto;
	padding-inline: 1rem;
}

/* ELEMENTS */

h1 {
	text-align: center;
	font-size: 2.5rem;
	text-wrap: balance;
}

h1,
h2 {
	font-weight: 500;
}

p {
	margin-block: 1rem;
}

strong {
	font-weight: 500;
}

a {
	color: inherit;
	text-underline-offset: 2px;

	&:focus-visible {
		outline: 1px solid var(--font-color);
	}
}

/* ICONS */

.lucide {
	vertical-align: text-bottom;
}

/* INTERACTIVE ELEMENTS */

input,
button {
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

input {
	width: 100%;
	border: 1px solid var(--outline-color);
	font-size: 1.25rem;
	padding: 0.4rem 0.4rem;
	border-radius: 0.25rem;
	background-color: var(--input-bg-color);
}

input:focus-visible {
	background-color: var(--input-bg-focus-color);
	outline: 1px solid var(--font-color);
}

button:not(:disabled) {
	cursor: pointer;
}

button:focus-visible {
	outline: 2px solid var(--font-color);
}

.button {
	background-color: var(--btn-color);
	font-weight: 500;
	font-size: 1.25rem;
	padding: 0.2rem 0.75rem;
	border-radius: 0.25rem;
}

/* UTILITIES */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
