/* GLOBAL STUFF */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: black;
	--font-color: white;
	--secondary-font-color: #aaa;
	--outline-color: #aaa;
	--btn-color: royalblue;
	--input-bg-color: #111;
	--input-bg-focus-color: #222;
	--positive-color: #371;
	--negative-color: #e01b1b;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5;
}

/* ELEMENTS */

h1 {
	text-align: center;
	font-size: 2.5rem;
	text-wrap: balance;
}

h1,
h2 {
	font-weight: 500;
}

p {
	margin-block: 1rem;
}

/* ICONS */

.lucide {
	vertical-align: text-bottom;
}

/* INTERACTIVE ELEMENTS */

input,
button {
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

input {
	width: 100%;
	border: 1px solid var(--outline-color);
	font-size: 1.25rem;
	padding: 0.4rem 0.4rem;
	border-radius: 0.25rem;
	background-color: var(--input-bg-color);
}

input:focus-visible {
	background-color: var(--input-bg-focus-color);
	outline: 1px solid var(--font-color);
}

button {
	background-color: var(--btn-color);
	font-weight: 500;
	font-size: 1.25rem;
	padding: 0.2rem 0.75rem;
	border-radius: 0.25rem;
}

button:not(:disabled) {
	cursor: pointer;
}

button:focus-visible {
	outline: 2px solid var(--font-color);
}
